<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <img src="../../../assets/img/projeto1.png" class="card-img-top" alt="projeto-figma">
                <div class="card-body">
                    <p class="card-text">- Projeto em Angular -</p>
                </div>
                <div class="overlay">
                    <div class="text"><fa-icon onclick="window.open('//frontend-portfolio-nine.vercel.app/')" [icon]="eye"  size="2x"></fa-icon></div>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card">
                <img src="../../../assets/img/Group 21.jpg" class="card-img-top" alt="projeto-figma">
                <div class="card-body">
                    <p class="card-text">- Projeto de UI Design -</p>
                </div>
                <div class="overlay">
                    <div class="text"><fa-icon onclick="window.open('//figma.com/proto/CenlKRrdPNWjO48V3N5jlg/LookMe---01?page-id=69%3A42&node-id=70%3A44&viewport=1003%2C4220%2C0.53&scaling=scale-down&starting-point-node-id=70%3A44')" [icon]="eye"  size="2x"></fa-icon></div>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card">
                <img src="../../../assets/img/Group 19.jpg" class="card-img-top" alt="projeto-figma">
                <div class="card-body">
                    <p class="card-text">- Projeto de UI Design -</p>
                </div>
                <div class="overlay">
                    <div class="text"><fa-icon onclick="window.open('//figma.com/proto/vNi48wQaxfzXaWyzyIErAu/Modelo-portfolio---v1?page-id=1647%3A17907&node-id=2502%3A11240&viewport=-3319%2C-2770%2C0.16&scaling=min-zoom&starting-point-node-id=2502%3A11240')" [icon]="eye"  size="2x"></fa-icon></div>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card">
                <img src="../../../assets/img/htmlpro.png" class="card-img-top" alt="projeto-html">
                <div class="card-body">
                    <p class="card-text">- Projeto em HTML -</p>
                </div>
                <div class="overlay">
                    <div class="text"><fa-icon onclick="window.open('//bj307.github.io/proj-sala/')" [icon]="eye"  size="2x"></fa-icon></div>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card">
                <img src="../../../assets/img/bjfit.png" class="card-img-top" alt="projeto-html">
                <div class="card-body">
                    <p class="card-text">- Projeto em Angular -</p>
                </div>
                <div class="overlay">
                    <div class="text"><fa-icon onclick="window.open('//academia-beta.vercel.app')" [icon]="eye"  size="2x"></fa-icon></div>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card">
                <img src="../../../assets/img/htmlpro.png" class="card-img-top" alt="projeto-html">
                <div class="card-body">
                    <p class="card-text">- Projeto em Angular -</p>
                </div>
                <div class="overlay">
                    <div class="text"><fa-icon onclick="window.open('//site-angular.vercel.app')" [icon]="eye"  size="2x"></fa-icon></div>
                </div>
            </div>
        </div>
    </div>
</div>